@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-first: #EFFAF5;
  --color-second: #2A75D9;
  --color-third: #536DDC;
  --color-accent: #E6E8FF;
  /* FFD7E0 */
  --font-poppins: 'Poppins', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  --font-gaegu: 'Gaegu', sans-serif;

  --animate-scroll-left: scroll-left 15s linear infinite;

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  --animate-scroll-left-stack: scroll-left 10s linear infinite;

  @keyframes scroll-left-stack {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

}

@layer utilities {
  @keyframes teleport {
    0%, 10% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
    45% {
      opacity: 0;
      transform: translate(0, 0) scale(0.9);
    }
    55% {
      opacity: 0;
      transform: translate(0, 0) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translate(0, 0) scale(1);
    }
  }
  
  .animate-teleport {
    animation-name: teleport;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}


html {
  scroll-behavior: smooth;
}